/***********
 * Sidebar *
 ***********/
.sidebar {
  border-style: none;
  border-width: 0;
  background-color: mix($bg_color, $base_color, 50%);

  .frame{
    border: none;
  }

  @at-root %sidebar_left,
  &:dir(ltr),
  &.left,
  &.left:dir(rtl) {
    border-right: none;
    border-left-style: none;
  }

  @at-root %sidebar_right
  &:dir(rtl),
  &.right {
    border-left: 1px solid $borders_color;
    border-right-style: none;
  }

  &:backdrop {
    background-color: $backdrop_sidebar_bg_color;
    border-color: $backdrop_borders_color;
    transition: $backdrop_transition;
  }

  list { 
    background-color: $base_color;  
    @if $variant=='light' {
    box-shadow: -10px 0px 12px rgba(162, 162, 165, 0.21) inset,
                10px -7px 12px $base_color inset,
                10px 7px 12px $base_color inset;
    }
              
  }
  row{
    padding: 8px 14px;
    transition: all .12s ease-in;
    &:selected{
      background: if($variant == 'light', transparentize( lighten($bg_color, 3%), 0.4), transparentize(lighten($base_color, 7%), 0.4));
      color: #ACACAC;
      border-left: 4px solid $selected_bg_color;
      &:backdrop{
        color: $backdrop_selected_bg_color;
        background: transparent;
        label{
          color: $backdrop_selected_bg_color;
        }  
      }
      &:hover{
        background-color: transparentize($selected_bg_color, 0.8);
      }
      label{
        color: #ACACAC;
      }
    }
  }

    //elementary os file manager
    &.source-list{
      background: $base_color;
      padding: 4px 0px;
      &.view{
        transition: all .12s ease-in;
        &:selected {
          padding-left: 4px;
          background: transparentize(#eee, 0.5);
          color: #ACACAC;
          border-left: 4px solid $selected_bg_color;
          &:active { box-shadow: inset 0 2px 3px -1px transparentize(black, 0.5); }
    
          &.has-open-popup,
          &:hover { background-color: transparentize($selected_bg_color, 0.1); }
    
          &:backdrop { background-color: $backdrop_selected_bg_color; }
        }
        &:hover, iconview.source-list:hover { 
            background-color: if(variant == light, transparentize($bg_color, 0.6), transparentize($bg_color, 0.6)); 
        }
      }
    }
    

  paned & { &.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & {
    border-style: none;
    border-color: $borders_color;
  }
}
}

stacksidebar {
  &.sidebar {
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) { list { @extend %sidebar_left; }}

    &:dir(rtl),
    &.right { list { @extend %sidebar_right; }}
  }

  row {
    padding: 10px 4px;

    > label {
      padding-left: 6px;
      padding-right: 6px;
    }

    &.needs-attention > label {
      @extend %needs_attention;

      background-size: 6px 6px, 0 0;
    }
  }
}
