.xfce4-panel {
    
    border-radius: 0;

    &.panel {
        background-color: $panel_bg_color;
        color: $fg_color;
        text-shadow: none;
        -gtk-icon-shadow: none;

        button.flat:not(.open_group) { @extend %panelbutton; }
    }
}

#tasklist-button {
    color: transparentize($fg_color, 0.2);
    border-radius: 0;
    border: none;
    background-color: transparentize($bg_color, 1);

    &:hover {
      color: lighten($fg_color, 10%);
      background-color: transparentize(black, 0.83);
    }

    &:checked {
      color: white;
      background-color: transparentize(black, 0.75);
      box-shadow: inset 0 -2px $selected_bg_color;
    }
}

%panelbutton {
    color: $fg_color;
    border-radius: 0;
    border: none;
    background-color: transparentize($bg_color, 1);
    font-weight: normal;

    &:hover {
      border: none;
      background-color: darken($bg_color, 5%);
    }
    &:active, &:checked {
      color: $fg_color;
      box-shadow: inset 0 -2px $selected_bg_color;
      background-color: darken($bg_color, 8%);

      label, image { color: inherit; }
    }
}

#whiskermenu-window button {
    background-color:transparent;
    border: none;
    border-radius: 0;
    font-weight: normal;
    padding: 3px;
    margin: 1px 2px;
    &:hover, &:checked {
        background-color: $selected_bg_color;
    }
}

/* Vala-appmenu-plugin*/

.-vala-panel-appmenu-core scrolledwindow,
.-vala-panel-appmenu-private > menuitem,
.-vala-panel-appmenu-private > menuitem:first-child > label {
    color: $fg_color;
}