/*
Error: Undefined variable: "$main_dark_color".
        on line 22 of gtk-4.0/widgets/_dialogs.scss
        from line 13 of gtk-4.0/_widgets.scss
        from line 9 of gtk-4.0/gtk-dark.scss

Backtrace:
gtk-4.0/widgets/_dialogs.scss:22
gtk-4.0/_widgets.scss:13
gtk-4.0/gtk-dark.scss:9
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:182:in `perform_arg'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `block in _perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each_with_index'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `_perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/functions.rb:612:in `perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/functions.rb:2378:in `if'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:151:in `block in _perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:108:in `block in with_function'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:108:in `with_function'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:149:in `_perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:182:in `perform_arg'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `block in _perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each_with_index'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `_perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/share/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/usr/share/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/config.rb:28:in `call'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:117:in `block in _process_changes'
/usr/share/gems/gems/listen-3.7.1/lib/listen/thread.rb:26:in `rescue_and_log'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:116:in `_process_changes'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:25:in `block in loop_for'
<internal:kernel>:187:in `loop'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/processor.rb:20:in `loop_for'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/loop.rb:85:in `_process_changes'
/usr/share/gems/gems/listen-3.7.1/lib/listen/event/loop.rb:51:in `block in start'
/usr/share/gems/gems/listen-3.7.1/lib/listen/thread.rb:26:in `rescue_and_log'
/usr/share/gems/gems/listen-3.7.1/lib/listen/thread.rb:18:in `block in new'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$main_dark_color\".\A         on line 22 of gtk-4.0/widgets/_dialogs.scss\A         from line 13 of gtk-4.0/_widgets.scss\A         from line 9 of gtk-4.0/gtk-dark.scss"; }
