/***************
 * Popovers   *
 ***************/

popover.background {
  padding: 2px;
  border-radius: 5px;
  background: if( $variant == 'light', linear-gradient(to bottom, $base_color 20%, $bg_color), linear-gradient(to bottom, lighten($base_color, 12%), darken($bg_color, 2%)));

  .csd &, & { border: 1px solid $borders_color; }

  box-shadow: 0 4px 6px transparentize(rgb(122, 122, 122), 0.6);

  &:backdrop {
    background-color: $backdrop_bg_color;
    box-shadow: none;
  }

  > list,
  > .view,
  > toolbar {
    border-style: none;
    background-color: transparent;
  }

  .csd &, & {
    &.touch-selection,
    &.magnifier {
      @extend %osd;

      border: 1px solid transparentize(white, 0.9);

      button { @extend %osd_button };
    }

    &.osd { @extend %osd; }
  }

  separator { margin: 3px; }

  list separator { margin: 0px; }

  checkbutton,
  radiobutton { @extend modelbutton.flat; }
}
